<header class="exchange">
  <div class="exchange__container">
    <div class="exchange__logo">ExchangeR Online</div>
    <div class="exchange__currency currency">
      <h4 class="currency__title">Current exchange rate (UAH)</h4>
      <div class="currency__body">
        @if (exchangeForUAH) { @for (currency of getCurrencyNames(); track
        $index) {
        <div class="currency__card">
          <p>{{ currency }} {{ exchangeForUAH[currency].toFixed(2) }}</p>
        </div>
        } }
      </div>
    </div>
  </div>
</header>
