@use "sass:math";
@import "../../../assets/styles/functions";

.exchange {
  &__container {
    min-height: toREM(70);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: toREM(36);
  }

  &__currency {
  }
}
.currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }

  &__body {
  }

  &__card {
  }
}
