<header class="exchange">
  <div class="exchange__container">
    <div class="exchange__logo">ExchangeR Online</div>
    <div class="exchange__currency currency">
      <h4 class="currency__title">Current exchange rate (UAH)</h4>
      <div class="currency__body">
        <div class="currency__card">
          <p>USD {{ exchangeForUAH["USD"] }}</p>
        </div>
        <div class="currency__card">
          <p>EUR {{ exchangeForUAH["EUR"] }}</p>
        </div>
      </div>
    </div>
  </div>
</header>
